<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles/admin/auth.css">
  <link rel="shortcut icon" href="img/logo.png" type="image/x-icon">
  <title><%= title %> | Wangun Jati Konstruksi</title>
</head>

<body>

  <form class="login-form" method="post">
    <h2>Register Admin</h2>
    <div>
      <label for="username">Create Username</label>
      <input type="text" id="username" name="username" placeholder="misal: johndoe" required>
    </div>

    <div>
      <label for="password">Create Password</label>
      <input type="password" id="password" name="password" placeholder="********" required>
    </div>

    <div>
      <button type="submit" class="login-button">Sign Up</button>
    </div>

    <div class="signup-text">
      Have an account?
      <a href="login">Login</a>
    </div>
  </form>

  <script>
    document.querySelector('form').addEventListener('submit', function(e) {
      e.preventDefault();

      const username = document.getElementById('username').value.trim();
      const password = document.getElementById('password').value.trim();

      if (!username || !password) {
        alert('Please fill in all fields');
        return;
      }

      fetch('/admin/post/admin', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json'
          },
          body: JSON.stringify({
            username,
            password
          })
        })
        .then(response => {
          if (!response.ok) throw new Error('Login failed');
          return response.json();
        })
        .then(data => {
            alert(data.message);
            window.location.href = "/admin/login";
        })
        .catch(err => {
          console.error(err);
          alert(err.message);
        });
    });
  </script>

</body>

</html>