<section class="section__content section__page">
  <div class="section__bg"><img class="d-block w-100" src="img/slide-1.jpg" alt="First slide"></div>
	<div class="container">
		<div class="row justify-content-md-center">
			<div class="col col-md-10">
				<div class="box">
					<h2 class="text-center">Cara Kerja Baruna Kontraktor</h2>
					<hr/><br/>
					<p>
						Sesuai dengan tag line kami: “Solusi cerdas membangun rumah impian”. Perbedaan kami dengan kontraktor lain terletak pada sistem yang digunakan. Dengan sistem tersebut, seluruh report kami kirimkan setiap minggu dengan foto yang dilengkapi geo-tagging yaitu foto dengan tanggal, jam dan lokasi berdasarkan GPS. Sehingga team di lapangan tidak dapat memanipulasi data. Anda dapat mencoba demo sistem kami dengan memasukan 
					</p>

					<p>
						User ID : demo@barunakontraktor.com <br/>
						Password : 123456<br/>
						Halaman Login : http://www.barunakontraktor.com/member/
					</p>
					
				</div>
			
			</div>
		</div>
	</div>
</section>
<section class="section__content section__content--small">
	<div class="container">
		<div class="row__client row">
			<div class="client__item col">
				<img src="img/client-1.png" alt="">
			</div>
			<div class="client__item col">
				<img src="img/client-2.png" alt="">
			</div>
			<div class="client__item col">
				<img src="img/client-3.png" alt="">
			</div>
			<div class="client__item col">
				<img src="img/client-4.png" alt="">
			</div>
			<div class="client__item col">
				<img src="img/client-5.png" alt="">
			</div>
			<div class="client__item col">
				<img src="img/client-6.png" alt="">
			</div>
			<div class="client__item col">
				<img src="img/client-1.png" alt="">
			</div>
			<div class="client__item col">
				<img src="img/client-2.png" alt="">
			</div>
			<div class="client__item col">
				<img src="img/client-3.png" alt="">
			</div>
			<div class="client__item col">
				<img src="img/client-4.png" alt="">
			</div>
		</div>
	</div>
</section>