<style type="text/css">
  .harga {
    color: red;
    font-size: 12px;
  }
</style>

<section class="section__content section__detail">
  <div class="section__bg"><img class="d-block w-100" src="img/slide/s2.jpg" alt="First slide"></div>
  <div class="container">
    <div class="row row--detail">
      <div class="col-sm-3 sidebar--detail">
        <ul class="nav flex-column">
          <li class="nav-item"><a href="#tab-detail-1" data-toggle="tab" class="active">Bangun Rumah</a></li>
          <li class="nav-item"><a href="#tab-detail-2" data-toggle="tab">Bangun Kost/Kontrakan</a></li>
          <li class="nav-item"><a href="#tab-detail-3" data-toggle="tab">Bangun Ruko</a></li>
          <li class="nav-item"><a href="#tab-detail-4" data-toggle="tab">Bangun Dek Lantai 2</a></li>
          <li class="nav-item"><a href="#tab-detail-5" data-toggle="tab">Meningkat Rumah</a></li>
          <li class="nav-item"><a href="#tab-detail-6" data-toggle="tab">Pengecatan & Waterproofing</a></li>
          <li class="nav-item"><a href="#tab-detail-7" data-toggle="tab">Menambah Ruangan</a></li>
          <li class="nav-item"><a href="#tab-detail-8" data-toggle="tab">Pagar & Taman</a></li>
          <li class="nav-item"><a href="#tab-detail-9" data-toggle="tab">Railing Tangga, Kanopi & Pagar Besi</a></li>
          <li class="nav-item"><a href="#tab-detail-10" data-toggle="tab">Pengaspalan Jalan</a></li>
        </ul>
      </div>
      <div class="col-sm-9 content--detail tab-content">
        <div class="tab-pane active" id="tab-detail-1">
          <div class="content__bg">
            <img src="img/cat-tembok.jpg" alt="">
            <h2 class="post-title">Bangun Rumah</h2>
          </div>

          <br />
          <div class="">
            <h4>Bangun Rumah Standar</h4>
            Harga Borongan
            <h2 class="text-info">Rp 2.700.000,- s/d 3.200.000,- /m2</h2>
          </div>
          <hr />
          <br />
          <h4>Spesifikasi</h4>
          <ul class="fa-ul">
            <li><i class="fa fa-li fa-check text-success"></i> <strong>Pondasi</strong> : Batu kali</li>
            <li><i class="fa fa-li fa-check text-success"></i> <strong>Beton</strong> : Beton bertulang, dengan tulangan dia. 10, 8, dan 6.</li>
            <li><i class="fa fa-li fa-check text-success"></i><strong>Dinding</strong> : Bata ringan/hebel dan diplaster aci.</li>
            <li><i class="fa fa-li fa-check text-success"></i><strong>Pintu dan jendela</strong> : Meranti Oven dengan finishing cat minyak.</li>
            <li><i class="fa fa-li fa-check text-success"></i><strong>Cat dinding dan plafond</strong> : Dulux Catylac</li>
            <li><i class="fa fa-li fa-check text-success"></i><strong>Cat dinding samping</strong> : Aquaproof.</li>
            <li><i class="fa fa-li fa-check text-success"></i><strong>Penutup lantai</strong> : Keramik 40x40 ex. KIA/ Asiatile. KM/WC : lantai 20x20 dinding 20x25.</li>
            <li><i class="fa fa-li fa-check text-success"></i><strong>Sanitair</strong> : Ina atau sejenisnya</li>
            <li><i class="fa fa-li fa-check text-success"></i><strong>Atap</strong> : Baja Ringan, atap genteng beton flat SNI</li>
            <li><i class="fa fa-li fa-check text-success"></i><strong>Plafond</strong> :Gypsum dengan rangka hollow galvanis.</li>
            <li><i class="fa fa-li fa-check text-success"></i><strong>Listrik</strong> : Kabel Eterna 2 x 1.5, saklar dan stop kontak ex. broco.</li>
          </ul>
          <br>
          <br>
          <div class="">
            <h4>Bangun Rumah Lux</h4>
            Harga Borongan
            <h2 class="text-info">Rp 3.300.000,- s/d 3.800.000,- /m2</h2>
          </div>
          <hr />
          <br />
          <h4>Spesifikasi</h4>
          <ul class="fa-ul">
            <li><i class="fa fa-li fa-check text-success"></i> <strong>Pondasi</strong> : Batu Kali, Cakar Ayam (dua lantai)</li>
            <li><i class="fa fa-li fa-check text-success"></i> <strong>Beton</strong> : Beton bertulang, besi kombinasi antara besi 12, 10, 8 dan 6</li>
            <li><i class="fa fa-li fa-check text-success"></i><strong>Dinding</strong> : Hebel t 10 cm/ bata merah dan diplaster aci.</li>
            <li><i class="fa fa-li fa-check text-success"></i><strong>Pintu dan jendela</strong> : Kamper Samarinda oven/ kusen aluminium 4”</li>
            <li><i class="fa fa-li fa-check text-success"></i><strong>Cat dinding dan plafond</strong> : ICI Dulux</li>
            <li><i class="fa fa-li fa-check text-success"></i><strong>Cat dinding samping</strong> : Aquaproof.</li>
            <li><i class="fa fa-li fa-check text-success"></i><strong>Cat kayu</strong> :Melamin / duco</li>
            <li><i class="fa fa-li fa-check text-success"></i><strong>Keramik</strong> : Lantai granit 60x60. KM/WC lt 30x30.dinding 30x60.</li>
            <li><i class="fa fa-li fa-check text-success"></i><strong>Sanitair</strong> : American Standard</li>
            <li><i class="fa fa-li fa-check text-success"></i><strong>Atap</strong> : Baja Ringan, Genteng Beton Ex. Mutiara</li>
            <li><i class="fa fa-li fa-check text-success"></i><strong>Plafond</strong> :Gypsum dengan rangka hollow galvanis.</li>
            <li><i class="fa fa-li fa-check text-success"></i><strong>Listrik</strong> : Gypsum rangka hollow galvanis.</li>
          </ul>
          <br>
          <br>
          <div class="">
            <h4>Bangun Rumah Exclusive</h4>
            Harga Borongan
            <h2 class="text-info">Rp 4.000.000,- s/d 5.200.000,- /m2</h2>
          </div>
          <hr />
          <br />
          <h4>Spesifikasi</h4>
          <ul class="fa-ul">
            <li><i class="fa fa-li fa-check text-success"></i> <strong>Struktur</strong> : Tahan Gempa</li>
            <li><i class="fa fa-li fa-check text-success"></i> <strong>Pondasi</strong> : Batu Kali, Cakar Ayam uk. 80x80 cm</li>
            <li><i class="fa fa-li fa-check text-success"></i> <strong>Beton</strong> : Beton-bertulang, dengan besi dia. 13, 12, 10, dan 8.</li>
            <li><i class="fa fa-li fa-check text-success"></i><strong>Dinding</strong> : Hebel atau bata merah press dan diplaster+aci.</li>
            <li><i class="fa fa-li fa-check text-success"></i><strong>Pintu dan jendela</strong> : Kayu Jati</li>
            <li><i class="fa fa-li fa-check text-success"></i><strong>Cat dinding dan plafond</strong> : Dulux Weathershield (Exterior) Dulux Easy Clean (Interior)</li>
            <li><i class="fa fa-li fa-check text-success"></i><strong>Cat dinding samping</strong> : Aquaproof.</li>
            <li><i class="fa fa-li fa-check text-success"></i><strong>Cat kayu</strong> :Melamin / duco</li>
            <li><i class="fa fa-li fa-check text-success"></i><strong>Keramik</strong> : Granit 60x60 ex.Roman/Granito, KM/WC : 40x25.dinding, dinding 25x25.</li>
            <li><i class="fa fa-li fa-check text-success"></i><strong>Sanitair</strong> : TOTO/ex Eropa.</li>
            <li><i class="fa fa-li fa-check text-success"></i><strong>Atap</strong> : Baja Ringan, Genteng keramik Kanmuri.</li>
            <li><i class="fa fa-li fa-check text-success"></i><strong>Plafond</strong> :Baja Ringan, Genteng keramik Kanmuri.</li>
            <li><i class="fa fa-li fa-check text-success"></i><strong>Listrik</strong> : Kabel supreme, saklar dan stop kontak panasonic</li>
          </ul>
          <br />
          <h4>Variasi Harga di Pengaruhi Oleh :</h4>
          <h6>luas bangunan, tingkat kesulitan pengerjaan, material, jumlah ruang, dsb.</h6>
          <br />
          <h4>Proses</h4>
          <ul class="fa-ul">
            <li><i class="fa fa-li fa-circle-o text-inverse"></i>Menghubungi WhatsApp atau mengirimkan pesan melalui halaman <a href="/hubungi">Hubungi Kami</a></li>
            <li><i class="fa fa-li fa-circle-o text-inverse"></i>Survey lokasi dan pertemuan dengan owner untuk memperoleh data-data teknis seperti : lokasi tanah, ukuran tanah, rencana luas bangunan, kebutuhan kamar, rencana model rumah, dll serta data-data non teknis yang kami anggap perlu.</li>
            <li><i class="fa fa-li fa-circle-o text-inverse"></i>Dengan data yang kami peroleh dilanjutkan dengan pembuatan gambar PRA Rencana.- Revisi gambar PRA Rencana sampai fixed, baru dilanjutkan dengan perhitungan RAB (Rencana Anggaran Biaya).</li>
            <li><i class="fa fa-li fa-circle-o text-inverse"></i>Penawaran RAB kami kepada Owner, bila sesuai dilanjutkan dengan kontrak kerjasama atau SPK (Surat Perjanjian Kerja).</li>
            <li><i class="fa fa-li fa-circle-o text-inverse"></i>Eksekusi Pekerjaan</li>
          </ul>
          <i class="harga">* IMB, penggurugan, PAM, daya PLN, sumur bor, penangkal petir, pagar depan, pagar keliling.</i>
        </div>

        <div class="tab-pane" id="tab-detail-2">
          <div class="content__bg">
            <img src="img/cat-tembok.jpg" alt="">
            <h2 class="post-title">Bangun Kost/Kontrakan</h2>
          </div>

          <br />
          <div class="">
            Harga Borongan
            <h2 class="text-info">Rp 2.400.000,- s/d 3.200.000,- /m2</h2>
          </div>
          <hr />
          <br />
          <h4>Spesifikasi</h4>
          <ul class="fa-ul">
            <li><i class="fa fa-li fa-check text-success"></i> <strong>Pondasi</strong> : Batu kali</li>
            <li><i class="fa fa-li fa-check text-success"></i> <strong>Beton</strong> : Beton bertulang, dengan tulangan dia. 10, 8, dan 6.</li>
            <li><i class="fa fa-li fa-check text-success"></i><strong>Dinding</strong> : Bata ringan/hebel dan diplaster aci.</li>
            <li><i class="fa fa-li fa-check text-success"></i><strong>Pintu dan jendela</strong> : Meranti Oven dengan finishing cat minyak.</li>
            <li><i class="fa fa-li fa-check text-success"></i><strong>Cat dinding dan plafond</strong> : Nippon Paint</li>
            <li><i class="fa fa-li fa-check text-success"></i><strong>Cat dinding samping</strong> : Nippon Paint</li>
            <li><i class="fa fa-li fa-check text-success"></i><strong>Penutup lantai</strong> : Keramik 40x40 ex. KIA/ Asiatile. KM/WC : lantai 20x20 dinding 20x25.</li>
            <li><i class="fa fa-li fa-check text-success"></i><strong>Sanitair</strong> : Ina atau sejenisnya</li>
            <li><i class="fa fa-li fa-check text-success"></i><strong>Atap</strong> : Baja Ringan, atap genteng Morando</li>
            <li><i class="fa fa-li fa-check text-success"></i><strong>Plafond</strong> :Gypsum dengan rangka hollow galvanis.</li>
            <li><i class="fa fa-li fa-check text-success"></i><strong>Listrik</strong> : Kabel Eterna 2 x 1.5, saklar dan stop kontak ex. broco.</li>
          </ul>
          <br />
          <h4>Variasi Harga di Pengaruhi Oleh :</h4>
          <h6>luas bangunan, tingkat kesulitan pengerjaan, material, jumlah ruang, dsb.</h6>
          <br />
          <h4>Proses</h4>
          <ul class="fa-ul">
            <li><i class="fa fa-li fa-check text-success"></i>Menghubungi WhatsApp atau mengirimkan pesan melalui halaman <a href="/hubungi">Hubungi Kami</a></li>
            <li><i class="fa fa-li fa-check text-success"></i>Survey lokasi dan pertemuan dengan owner untuk memperoleh data-data teknis seperti : lokasi tanah, ukuran tanah, rencana luas bangunan, kebutuhan kamar, rencana model rumah, dll serta data-data non teknis yang kami anggap perlu.</li>
            <li><i class="fa fa-li fa-check text-success"></i>Dengan data yang kami peroleh dilanjutkan dengan pembuatan gambar PRA Rencana.- Revisi gambar PRA Rencana sampai fixed, baru dilanjutkan dengan perhitungan RAB (Rencana Anggaran Biaya).</li>
            <li><i class="fa fa-li fa-check text-success"></i>Penawaran RAB kami kepada Owner, bila sesuai dilanjutkan dengan kontrak kerjasama atau SPK (Surat Perjanjian Kerja).</li>
            <li><i class="fa fa-li fa-check text-success"></i>Eksekusi Pekerjaan</li>
          </ul>
          <i class="harga">* Harga tersebut di atas belum termasuk IMB, Pengurugan, sumur bor, daya PLN, penangkal petir, pagar depan, pagar keliling.</i>
        </div>

        <div class="tab-pane" id="tab-detail-3">
          <div class="content__bg">
            <img src="img/cat-tembok.jpg" alt="">
            <h2 class="post-title">Bangun Ruko</h2>
          </div>

          <br />
          <div class="">
            Harga Borongan
            <h2 class="text-info">Rp 2.700.000,- s/d 3.300.000,- /m2</h2>
          </div>
          <hr />
          <br />
          <h4>Spesifikasi</h4>
          <ul class="fa-ul">
            <li><i class="fa fa-li fa-check text-success"></i> <strong>Pondasi</strong> : Batu kali</li>
            <li><i class="fa fa-li fa-check text-success"></i> <strong>Beton</strong> : Beton bertulang, dengan tulangan dia. 10, 8, dan 6.</li>
            <li><i class="fa fa-li fa-check text-success"></i><strong>Dinding</strong> : Bata ringan/hebel dan diplaster aci.</li>
            <li><i class="fa fa-li fa-check text-success"></i><strong>Pintu dan jendela</strong> : Meranti Oven dengan finishing cat minyak.</li>
            <li><i class="fa fa-li fa-check text-success"></i><strong>Cat dinding dan plafond</strong> : Nippon Paint</li>
            <li><i class="fa fa-li fa-check text-success"></i><strong>Cat dinding samping</strong> : Aquaproof</li>
            <li><i class="fa fa-li fa-check text-success"></i><strong>Penutup lantai</strong> : Keramik 40x40 ex. KIA/ Asiatile. KM/WC : lantai 20x20 dinding 20x25.</li>
            <li><i class="fa fa-li fa-check text-success"></i><strong>Sanitair</strong> : Ina atau sejenisnya</li>
            <li><i class="fa fa-li fa-check text-success"></i><strong>Atap</strong> : Baja Ringan, atap genteng morando</li>
            <li><i class="fa fa-li fa-check text-success"></i><strong>Plafond</strong> :Gypsum dengan rangka hollow galvanis.</li>
            <li><i class="fa fa-li fa-check text-success"></i><strong>Listrik</strong> : Kabel Eterna 2 x 1.5, saklar dan stop kontak ex. broco.</li>
          </ul>
          <br />
          <h4>Variasi Harga di Pengaruhi Oleh :</h4>
          <h6>luas bangunan, tingkat kesulitan pengerjaan, material, jumlah ruang, dsb.</h6>
          <br />
          <h4>Proses</h4>
          <ul class="fa-ul">
            <li><i class="fa fa-li fa-check text-success"></i>Menghubungi WhatsApp atau mengirimkan pesan melalui halaman <a href="/hubungi">Hubungi Kami</a></li>
            <li><i class="fa fa-li fa-check text-success"></i>Survey lokasi dan pertemuan dengan owner untuk memperoleh data-data teknis seperti : lokasi tanah, ukuran tanah, rencana luas bangunan, kebutuhan kamar, rencana model rumah, dll serta data-data non teknis yang kami anggap perlu.</li>
            <li><i class="fa fa-li fa-check text-success"></i>Dengan data yang kami peroleh dilanjutkan dengan pembuatan gambar PRA Rencana.- Revisi gambar PRA Rencana sampai fixed, baru dilanjutkan dengan perhitungan RAB (Rencana Anggaran Biaya).</li>
            <li><i class="fa fa-li fa-check text-success"></i>Penawaran RAB kami kepada Owner, bila sesuai dilanjutkan dengan kontrak kerjasama atau SPK (Surat Perjanjian Kerja).</li>
            <li><i class="fa fa-li fa-check text-success"></i>Eksekusi Pekerjaan</li>
          </ul>
          <i class="harga">* Harga tersebut di atas belum termasuk IMB, Pengurugan, sumur bor, daya PLN, penangkal petir, pagar depan, pagar keliling.</i>
        </div>

        <div class="tab-pane" id="tab-detail-4">
          <div class="content__bg">
            <img src="img/cat-tembok.jpg" alt="">
            <h2 class="post-title">Bangun Dek Lantai 2</h2>
          </div>

          <br />
          <div class="">
            Harga Borongan
            <h2 class="text-info">Rp 1.050.000,- /m2</h2>
          </div>
          <hr />
          <br />
          <h4>Spesifikasi</h4>
          <ul class="fa-ul">
            <li><i class="fa fa-li fa-check text-success"></i> <strong>Ketebalan cor ±10cm</strong></li>
            <li><i class="fa fa-li fa-check text-success"></i> <strong>Besi polos ukuran 10</strong></li>
            <li><i class="fa fa-li fa-check text-success"></i> <strong>Semen tigaroda/ setara</strong></li>
            <li><i class="fa fa-li fa-check text-success"></i> <strong>Pasir Cor</strong></li>
            <li><i class="fa fa-li fa-check text-success"></i> <strong>Batu split</strong></li>
          </ul>
          <br />
          <h4>Proses</h4>
          <ul class="fa-ul">
            <li><i class="fa fa-li fa-check text-success"></i>Menghubungi WhatsApp atau mengirimkan pesan melalui halaman <a href="/hubungi">Hubungi Kami</a></li>
            <li><i class="fa fa-li fa-check text-success"></i>Survey lokasi dan pertemuan dengan owner untuk memperoleh data-data teknis seperti : lokasi tanah, ukuran tanah, rencana luas bangunan, kebutuhan kamar, rencana model rumah, dll serta data-data non teknis yang kami anggap perlu.</li>
            <li><i class="fa fa-li fa-check text-success"></i>Dengan data yang kami peroleh dilanjutkan dengan pembuatan gambar PRA Rencana.- Revisi gambar PRA Rencana sampai fixed, baru dilanjutkan dengan perhitungan RAB (Rencana Anggaran Biaya).</li>
            <li><i class="fa fa-li fa-check text-success"></i>Penawaran RAB kami kepada Owner, bila sesuai dilanjutkan dengan kontrak kerjasama atau SPK (Surat Perjanjian Kerja).</li>
            <li><i class="fa fa-li fa-check text-success"></i>Eksekusi Pekerjaan</li>
          </ul>
          <i class="harga">* Harga tersebut di atas hanya lantai beton saja</i>
        </div>

        <div class="tab-pane" id="tab-detail-5">
          <div class="content__bg">
            <img src="img/cat-tembok.jpg" alt="">
            <h2 class="post-title">Meningkat Rumah</h2>
          </div>

          <br />
          <div class="">
            Harga Borongan
            <h2 class="text-info">Mulai dari Rp 3.200.000,- /m2</h2>
          </div>
          <hr />
          <br />
          <h4>Spesifikasi</h4>
          <ul class="fa-ul">
            <li><i class="fa fa-li fa-check text-success"></i> <strong>Suntik Beton</strong> : Beton bertulang, dengan tulangan dia. 10, 8, dan 6.</li>
            <li><i class="fa fa-li fa-check text-success"></i><strong>Dinding</strong> : Bata ringan/hebel dan diplaster aci.</li>
            <li><i class="fa fa-li fa-check text-success"></i><strong>Pintu dan jendela</strong> : Meranti Oven dengan finishing cat minyak.</li>
            <li><i class="fa fa-li fa-check text-success"></i><strong>Cat dinding dan plafond</strong> : Dulux Catylac</li>
            <li><i class="fa fa-li fa-check text-success"></i><strong>Cat dinding samping</strong> : Aquaproof.</li>
            <li><i class="fa fa-li fa-check text-success"></i><strong>Penutup lantai</strong> : Keramik 40x40 ex. KIA/ Asiatile. KM/WC : lantai 20x20 dinding 20x25.</li>
            <li><i class="fa fa-li fa-check text-success"></i><strong>Sanitair</strong> : Ina atau sejenisnya</li>
            <li><i class="fa fa-li fa-check text-success"></i><strong>Atap</strong> : Baja Ringan, atap genteng beton flat SNI</li>
            <li><i class="fa fa-li fa-check text-success"></i><strong>Plafond</strong> :Gypsum dengan rangka hollow galvanis.</li>
            <li><i class="fa fa-li fa-check text-success"></i><strong>Listrik</strong> : Kabel Eterna 2 x 1.5, saklar dan stop kontak ex. broco.</li>
          </ul>
          <br />
          <h4>Variasi Harga di Pengaruhi Oleh :</h4>
          <h6>luas bangunan, tingkat kesulitan pengerjaan, material, jumlah ruang, dsb.</h6>
          <br />
          <h4>Proses</h4>
          <ul class="fa-ul">
            <li><i class="fa fa-li fa-check text-success"></i>Menghubungi WhatsApp atau mengirimkan pesan melalui halaman <a href="/hubungi">Hubungi Kami</a></li>
            <li><i class="fa fa-li fa-check text-success"></i>Survey lokasi dan pertemuan dengan owner untuk memperoleh data-data teknis seperti : lokasi tanah, ukuran tanah, rencana luas bangunan, kebutuhan kamar, rencana model rumah, dll serta data-data non teknis yang kami anggap perlu.</li>
            <li><i class="fa fa-li fa-check text-success"></i>Dengan data yang kami peroleh dilanjutkan dengan pembuatan gambar PRA Rencana.- Revisi gambar PRA Rencana sampai fixed, baru dilanjutkan dengan perhitungan RAB (Rencana Anggaran Biaya).</li>
            <li><i class="fa fa-li fa-check text-success"></i>Penawaran RAB kami kepada Owner, bila sesuai dilanjutkan dengan kontrak kerjasama atau SPK (Surat Perjanjian Kerja).</li>
            <li><i class="fa fa-li fa-check text-success"></i>Eksekusi Pekerjaan</li>
          </ul>
          <i class="harga">* Harga tersebut di atas belum termasuk IMB, penangkal petir</i>
        </div>

        <div class="tab-pane" id="tab-detail-6">
          <div class="content__bg">
            <img src="img/cat-tembok.jpg" alt="">
            <h2 class="post-title">Pengecatan & Waterproofing</h2>
          </div>

          <br />
          <div class="">
            Harga Borongan
            <h3 class="text-info">- Cat dinding interior standar Rp 30.000,- s/d 45.000/m2</h3>
            <h3 class="text-info">- Cat dinding exterior standar Rp 40.000,- s/d 60.000/m2 </h3>
            <h3 class="text-info">- Waterproofing Rp 35.000,- s/d 50.000,- / m2</h3>
          </div>
          <hr />
          <br />
          <h4>Spesifikasi</h4>
          <ul class="fa-ul">
            <li><i class="fa fa-li fa-check text-success"></i><strong>Cat dinding</strong> : Nippon vinilex, Dulux Weathershield, Jotun</li>
            <li><i class="fa fa-li fa-check text-success"></i><strong>Waterproofing</strong> : Aquaproof,elastex, no drop, dll</li>
            <li><i class="fa fa-li fa-check text-success"></i><strong>Wall Sealer</strong></li>
          </ul>
          <br />
          <h4>Variasi Harga di Pengaruhi Oleh :</h4>
          <h6>tingkat kesulitan pengerjaan, material, kondisi cat lama</h6>
          <br />
          <h4>Proses</h4>
          <ul class="fa-ul">
            <li><i class="fa fa-li fa-check text-success"></i>Menghubungi WhatsApp atau mengirimkan pesan melalui halaman <a href="/hubungi">Hubungi Kami</a></li>
            <li><i class="fa fa-li fa-check text-success"></i>Survey lokasi dan pertemuan dengan owner untuk memperoleh data-data teknis seperti : lokasi tanah, ukuran tanah, rencana luas bangunan, kebutuhan kamar, rencana model rumah, dll serta data-data non teknis yang kami anggap perlu.</li>
            <li><i class="fa fa-li fa-check text-success"></i>Dengan data yang kami peroleh dilanjutkan dengan pembuatan gambar PRA Rencana.- Revisi gambar PRA Rencana sampai fixed, baru dilanjutkan dengan perhitungan RAB (Rencana Anggaran Biaya).</li>
            <li><i class="fa fa-li fa-check text-success"></i>Penawaran RAB kami kepada Owner, bila sesuai dilanjutkan dengan kontrak kerjasama atau SPK (Surat Perjanjian Kerja).</li>
            <li><i class="fa fa-li fa-check text-success"></i>Eksekusi Pekerjaan</li>
          </ul>
          <i class="harga">* Harga tersebut di atas belum termasuk Biaya removal cat lama (apabila pengecatan ulang)</i>
        </div>

        <div class="tab-pane" id="tab-detail-7">
          <div class="content__bg">
            <img src="img/cat-tembok.jpg" alt="">
            <h2 class="post-title">Menambah Ruangan</h2>
          </div>

          <br />
          <div class="">
            Harga Borongan
            <h2 class="text-info">Rp 2.300.000,- /m2 </h2>
          </div>
          <hr />
          <br />
          <h4>Spesifikasi</h4>
          <ul class="fa-ul">
            <li><i class="fa fa-li fa-check text-success"></i> <strong>Beton</strong> : Beton bertulang, dengan tulangan dia. 10, 8, dan 6.</li>
            <li><i class="fa fa-li fa-check text-success"></i><strong>Dinding</strong> : Bata merah/ bata ringan/hebel dan diplaster aci.</li>
            <li><i class="fa fa-li fa-check text-success"></i><strong>Pintu dan jendela</strong> : Meranti Oven dengan finishing cat minyak.</li>
            <li><i class="fa fa-li fa-check text-success"></i><strong>Cat dinding dan plafond</strong> : Nippon Vinilex</li>
            <li><i class="fa fa-li fa-check text-success"></i><strong>Cat dinding samping</strong> : Aquaproof</li>
            <li><i class="fa fa-li fa-check text-success"></i><strong>Penutup lantai</strong> : Keramik 40x40 ex. KIA/ Asiatile</li>
            <li><i class="fa fa-li fa-check text-success"></i><strong>Plafond</strong> :Gypsum dengan rangka hollow galvanis.</li>
            <li><i class="fa fa-li fa-check text-success"></i><strong>Listrik</strong> : Kabel Eterna 2 x 1.5, saklar dan stop kontak ex. broco. Instalasi titik lampu</li>
          </ul>
          <br />
          <h4>Variasi Harga di Pengaruhi Oleh :</h4>
          <h6>luas bangunan, tingkat kesulitan pengerjaan, material, kondisi bangunan lama,pembongkaran, dsb.</h6>
          <br />
          <h4>Proses</h4>
          <ul class="fa-ul">
            <li><i class="fa fa-li fa-check text-success"></i>Menghubungi WhatsApp atau mengirimkan pesan melalui halaman <a href="/hubungi">Hubungi Kami</a></li>
            <li><i class="fa fa-li fa-check text-success"></i>Survey lokasi dan pertemuan dengan owner untuk memperoleh data-data teknis seperti : lokasi tanah, ukuran tanah, rencana luas bangunan, kebutuhan kamar, rencana model rumah, dll serta data-data non teknis yang kami anggap perlu.</li>
            <li><i class="fa fa-li fa-check text-success"></i>Dengan data yang kami peroleh dilanjutkan dengan pembuatan gambar PRA Rencana.- Revisi gambar PRA Rencana sampai fixed, baru dilanjutkan dengan perhitungan RAB (Rencana Anggaran Biaya).</li>
            <li><i class="fa fa-li fa-check text-success"></i>Penawaran RAB kami kepada Owner, bila sesuai dilanjutkan dengan kontrak kerjasama atau SPK (Surat Perjanjian Kerja).</li>
            <li><i class="fa fa-li fa-check text-success"></i>Eksekusi Pekerjaan</li>
          </ul>
          <i class="harga">* IMB, Pengurugan, pembongkaran</i>
        </div>

        <div class="tab-pane" id="tab-detail-8">
          <div class="content__bg">
            <img src="img/cat-tembok.jpg" alt="">
            <h2 class="post-title">Pagar & Taman</h2>
          </div>

          <br />
          <div class="">
            Harga Borongan
            <h2 class="text-info">Mulai dari Rp 750.000,- /m2 </h2>
          </div>
          <hr />
          <br />
          <h4>Spesifikasi</h4>
          <ul class="fa-ul">
            <li><i class="fa fa-li fa-check text-success"></i> <strong>Pagar Beton</strong> : Beton bertulang, dengan tulangan dia. 10, 8, dan 6.</li>
            <li><i class="fa fa-li fa-check text-success"></i><strong>Dinding</strong> : Bata ringan/hebel dan diplaster aci.</li>
            <li><i class="fa fa-li fa-check text-success"></i><strong>Cat dinding</strong> : dulux weathershield</li>
            <li><i class="fa fa-li fa-check text-success"></i><strong>Batu alam</strong> : Batu Candi, andesit, palimanan, batu palem, dll</li>
          </ul>
          <br />
          <h4>Variasi Harga di Pengaruhi Oleh :</h4>
          <h6>tingkat kesulitan pengerjaan, model, jenis variasi pagar/taman, jenis tanaman</h6>
          <br />
          <h4>Proses</h4>
          <ul class="fa-ul">
            <li><i class="fa fa-li fa-check text-success"></i>Menghubungi WhatsApp atau mengirimkan pesan melalui halaman <a href="/hubungi">Hubungi Kami</a></li>
            <li><i class="fa fa-li fa-check text-success"></i>Survey lokasi dan pertemuan dengan owner untuk memperoleh data-data teknis seperti : lokasi tanah, ukuran tanah, rencana luas bangunan, kebutuhan kamar, rencana model rumah, dll serta data-data non teknis yang kami anggap perlu.</li>
            <li><i class="fa fa-li fa-check text-success"></i>Dengan data yang kami peroleh dilanjutkan dengan pembuatan gambar PRA Rencana.- Revisi gambar PRA Rencana sampai fixed, baru dilanjutkan dengan perhitungan RAB (Rencana Anggaran Biaya).</li>
            <li><i class="fa fa-li fa-check text-success"></i>Penawaran RAB kami kepada Owner, bila sesuai dilanjutkan dengan kontrak kerjasama atau SPK (Surat Perjanjian Kerja).</li>
            <li><i class="fa fa-li fa-check text-success"></i>Eksekusi Pekerjaan</li>
          </ul>
          <i class="harga">* IMB, Pengurugan, pembongkaran</i>
        </div>

        <div class="tab-pane" id="tab-detail-9">
          <div class="content__bg">
            <img src="img/cat-tembok.jpg" alt="">
            <h2 class="post-title">Railing Tangga, Kanopi & Pagar Besi</h2>
          </div>

          <br />
          <div class="">
            Harga
            <h2 class="text-info">Mulai dari Rp 400.000,- /m2</h2>
          </div>
          <hr />
          <br />
          <h4>Spesifikasi</h4>
          <ul class="fa-ul">
            <li><i class="fa fa-li fa-check text-success"></i> <strong>Material</strong>: Besi hollow / Galvanis 2x4, 4x4, 4x6</li>
            <li><i class="fa fa-li fa-check text-success"></i> <strong>Coating</strong>: Epoxy dan Cat Minyak/Duco</li>
          </ul>
          <br />
          <h4>Variasi Harga di Pengaruhi Oleh :</h4>
          <h6>Model, Kerapetan besi, Ketebalan besi yang dipakai</h6>
          <br />
          <h4>Proses</h4>
          <ul class="fa-ul">
            <li><i class="fa fa-li fa-check text-success"></i>Menghubungi WhatsApp atau mengirimkan pesan melalui halaman <a href="/hubungi">Hubungi Kami</a></li>
            <li><i class="fa fa-li fa-check text-success"></i>Survey lokasi dan pertemuan dengan owner untuk memperoleh data-data teknis seperti : lokasi tanah, ukuran tanah, rencana luas bangunan, kebutuhan kamar, rencana model rumah, dll serta data-data non teknis yang kami anggap perlu.</li>
            <li><i class="fa fa-li fa-check text-success"></i>Dengan data yang kami peroleh dilanjutkan dengan pembuatan gambar PRA Rencana.- Revisi gambar PRA Rencana sampai fixed, baru dilanjutkan dengan perhitungan RAB (Rencana Anggaran Biaya).</li>
            <li><i class="fa fa-li fa-check text-success"></i>Penawaran RAB kami kepada Owner, bila sesuai dilanjutkan dengan kontrak kerjasama atau SPK (Surat Perjanjian Kerja).</li>
            <li><i class="fa fa-li fa-check text-success"></i>Eksekusi Pekerjaan</li>
          </ul>
          <i class="harga">* Transportasi apabila lokasi terlalu jauhdari workshop kami</i>
        </div>

        <div class="tab-pane" id="tab-detail-10">
          <div class="content__bg">
            <img src="img/cat-tembok.jpg" alt="">
            <h2 class="post-title">Pengaspalan Jalan</h2>
          </div>

          <br />
          <div class="">
            Harga
            <h2 class="text-info">Mulai dari Rp 150.000,- /m2</h2>
            <h4>(tergantung ketebalan, kondisi lahan, dan spesifikasi material)</h4>
          </div>
          <hr />
          <br />
          <h4>Spesifikasi</h4>
          <ul class="fa-ul">
            <li><i class="fa fa-li fa-check text-success"></i> Jenis Aspal: Hotmix AC-WC (Asphalt Concrete Wearing Course)</li>
            <li><i class="fa fa-li fa-check text-success"></i> Lapisan Pendukung: Lapis Pondasi Agregat (LPB) & Lapis Perekat Tack Coat</li>
            <li><i class="fa fa-li fa-check text-success"></i> Ketebalan Aspal: 3–5 cm (dapat disesuaikan)</li>
            <li><i class="fa fa-li fa-check text-success"></i> Peralatan: Baby roller, tandem roller, finisher (sesuai kebutuhan)</li>
            <li><i class="fa fa-li fa-check text-success"></i> Pekerjaan Tambahan (opsional): Pemadatan, pengurugan, leveling tanah, perataan base course</li>
          </ul>
          <br />
          <h4>Variasi Harga Dipengaruhi Oleh</h4>
          <ul class="fa-ul">
            <li><i class="fa fa-li fa-check text-success"></i> Ketebalan lapisan aspal</li>
            <li><i class="fa fa-li fa-check text-success"></i> Kondisi dan kontur tanah (tanah baru, bekas paving, jalan lama)</li>
            <li><i class="fa fa-li fa-check text-success"></i> Jarak lokasi proyek</li>
            <li><i class="fa fa-li fa-check text-success"></i> Volume pengerjaan</li>
            <li><i class="fa fa-li fa-check text-success"></i> Kebutuhan base dan lapisan tambahan</li>
          </ul>
          <br />
          <h4>Proses</h4>
          <ul class="fa-ul">
            <li><i class="fa fa-li fa-check text-success"></i> Menghubungi WhatsApp atau mengirimkan pesan melalui halaman <a href="/hubungi">Hubungi Kami</a></li>
            <li><i class="fa fa-li fa-check text-success"></i> Survey lokasi untuk melihat kondisi tanah, akses, panjang & lebar jalan yang akan diaspal</li>
            <li><i class="fa fa-li fa-check text-success"></i> Konsultasi teknis dan rekomendasi jenis lapisan/asphalt yang sesuai</li>
            <li><i class="fa fa-li fa-check text-success"></i> Penyusunan & pengiriman penawaran RAB (Rencana Anggaran Biaya)</li>
            <li><i class="fa fa-li fa-check text-success"></i> Jika disetujui, dilanjutkan dengan kontrak/SPK (Surat Perjanjian Kerja)</li>
            <li><i class="fa fa-li fa-check text-success"></i> Eksekusi pekerjaan pengaspalan sesuai jadwal dan spesifikasi teknis</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section__content section__content--small">
  <div class="container">
    <div class="row__client row">
      <div class="client__item col">
        <img src="img/1.png" alt="">
      </div>
      <div class="client__item col">
        <img src="img/2.jpg" alt="">
      </div>
      <div class="client__item col">
        <img src="img/3.png" alt="">
      </div>
      <div class="client__item col">
        <img src="img/4.png" alt="">
      </div>
      <div class="client__item col">
        <img src="img/5.png" alt="">
      </div>
      <div class="client__item col">
        <img src="img/6.png" alt="">
      </div>
      <div class="client__item col">
        <img src="img/7.png" alt="">
      </div>
      <div class="client__item col">
        <img src="img/8.png" alt="">
      </div>
      <div class="client__item col">
        <img src="img/9.png" alt="">
      </div>
      <div class="client__item col">
        <img src="img/10.png" alt="">
      </div>
    </div>
  </div>
</section>


<script>
  document.addEventListener("DOMContentLoaded", function () {
    function activateTabFromHash() {
      var hash = window.location.hash;
      if (hash) {
        var triggerEl = document.querySelector('.sidebar--detail a[href="' + hash + '"]');
        if (triggerEl) {
    
          document.querySelectorAll('.sidebar--detail .nav-item a').forEach(function(el) {
            el.classList.remove('active');
          });
          
    
          document.querySelectorAll('.content--detail .tab-pane').forEach(function(pane) {
            pane.classList.remove('active');
          });

    
          triggerEl.classList.add('active');
          
    
          var tabPane = document.querySelector(hash);
          if (tabPane) {
            tabPane.classList.add('active');
          }
        }
      }
    }

    activateTabFromHash();

    window.addEventListener('hashchange', activateTabFromHash);

    document.querySelectorAll('.sidebar--detail .nav-item a').forEach(function(tabLink) {
      tabLink.addEventListener('click', function(e) {
        window.location.hash = this.getAttribute('href');
      });
    });
  });
</script>