<style type="text/css">
  main {
    max-width: 1100px;
    width: 100%;
    margin: 1em auto;
    background: #fff;
    border-radius: 0;
    padding: 0.6em;
  }

  h1 {
    text-align: center;
  }

  a {
    transition: all .3s ease-in-out;
  }

  .gallery {
    background: #e9ecef;
    border-radius: 20px;
    padding: 10px;
    text-align: center;
    display: flex;
    flex-flow: wrap;
    justify-content: space-around;
  }

  .thumb {
    margin: 2px;
    max-width: 95%;
    display: inline-block;
    /* for non-flex browsers */
  }

  .thumb a {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    -webkit-filter: grayscale(0.7);
    filter: grayscale(0.7);
  }

  .thumb a:hover {
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
  }

  .thumb img {
    border-radius: 10px;
    max-width: 100%;
    max-height: 150px;
    vertical-align: bottom;
    box-shadow: 2px 2px 3px 0 rgba(0, 0, 0, 0.4);
  }

  .thumb a:hover img {
    transition: all .3s ease-in-out;
    box-shadow: 0 0 6px 4px rgba(100, 250, 0, 0.4);
    z-index: 20;
  }
</style>

<section class="section__content section__page">
  <main>
    <div style="margin-bottom: 48px; padding: 28px 0; background-color: #eee;">
      <h1 style="font-size: 3rem;">Portofolio</h1>
      <p class="text-center" style="font-size: 1.4rem;">Wangun Jati Konstruksi</p>
    </div>
    <div class="gallery">
      <figure class="thumb">
        <a href="#">
          <img src="portofolio-img/gambar1.jpg" alt="A Photo">
        </a>
      </figure>
      <figure class="thumb">
        <a href="#">
          <img src="portofolio-img/gambar2.jpg" alt="A Photo">
        </a>
      </figure>
      <figure class="thumb">
        <a href="#">
          <img src="portofolio-img/gambar3.jpg" alt="A Photo">
        </a>
      </figure>
      <figure class="thumb">
        <a href="#">
          <img src="portofolio-img/gambar4.jpg" alt="A Photo">
        </a>
      </figure>
      <figure class="thumb">
        <a href="#">
          <img src="img/1.png" alt="A Photo">
        </a>
      </figure>
      <figure class="thumb">
        <a href="#">
          <img src="img/5.png" alt="A Photo">
        </a>
      </figure>
      <figure class="thumb">
        <a href="#">
          <img src="portofolio-img/gambar5.jpg" alt="A Photo">
        </a>
      </figure>
      <figure class="thumb">
        <a href="#">
          <img src="portofolio-img/gambar6.jpg" alt="A Photo">
        </a>
      </figure>
      <figure class="thumb">
        <a href="#">
          <img src="img/4.png" alt="A Photo">
        </a>
      </figure>
      <figure class="thumb">
        <a href="#">
          <img src="portofolio-img/gambar7.jpg" alt="A Photo">
        </a>
      </figure>
      <figure class="thumb">
        <a href="#">
          <img src="portofolio-img/gambar8.jpg" alt="A Photo">
        </a>
      </figure>
      <figure class="thumb">
        <a href="#">
          <img src="img/9.png" alt="A Photo">
        </a>
      </figure>
      <figure class="thumb">
        <a href="#">
          <img src="img/8.png" alt="A Photo">
        </a>
      </figure>
    </div>
  </main>

</section>
<section class="section__content section__content--small">
  <div class="container">
    <div class="row__client row">
      <div class="client__item col">
        <img src="img/1.png" alt="">
      </div>
      <div class="client__item col">
        <img src="img/2.jpg" alt="">
      </div>
      <div class="client__item col">
        <img src="img/3.png" alt="">
      </div>
      <div class="client__item col">
        <img src="img/4.png" alt="">
      </div>
      <div class="client__item col">
        <img src="img/5.png" alt="">
      </div>
      <div class="client__item col">
        <img src="img/6.png" alt="">
      </div>
      <div class="client__item col">
        <img src="img/7.png" alt="">
      </div>
      <div class="client__item col">
        <img src="img/8.png" alt="">
      </div>
      <div class="client__item col">
        <img src="img/9.png" alt="">
      </div>
      <div class="client__item col">
        <img src="img/10.png" alt="">
      </div>
    </div>
  </div>
</section>