<section class="section__content section__page">
  <div class="section__bg"><img class="d-block w-100" src="img/slide/s2.jpg" alt="First slide"></div>
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col col-md-12">
        <div class="box">
          <h2 class="text-center">TENTANG WANGUN JATI KONSTRUKSI</h2>
          <hr /><br />
          <p>
            Wangun Jati Konstruksi adalah website company profile dari CV Wangun Jati konstruksi, sebuah perusahaan yang didirikan pada tahun 2019 di Kecamatan Kesesi, Kabupaten Pekalongan, Jawa Tengah. Perusahaan ini lahir dari semangat untuk membangun infrastruktur yang kuat dengan mengutamakan kualitas, ketepatan waktu, dan profesionalisme.
          </p>

          <p>
            Sejak berdiri, CV Wangun Jati Konstruksi fokus pada usaha pengaspalan jalan serta jasa pembangunan baru, renovasi, perbaikan, perawatan, dan pemeliharaan berbagai jenis proyek. Dengan dukungan tim yang berpengalaman dan komitmen terhadap standar mutu, perusahaan ini terus berkembang dan dipercaya oleh berbagai instansi, baik pemerintah maupun swasta.
          </p>

          <p>
            Berbasis di Kesesi, CV Wangun Jati Konstruksi menjadikan wilayah Pekalongan dan sekitarnya sebagai prioritas utama dalam pengembangan proyek. Perusahaan secara aktif memperluas kapasitas dan jaringan sambil tetap mempertahankan identitas sebagai konstruksi lokal yang memahami kebutuhan dan karakteristik wilayahnya.
          </p>

          <p>
            Didukung oleh tenaga profesional dan terlatih di bidangnya, Wangun Jati Kontraktor selalu mengutamakan kualitas kerja, kecepatan pelaksanaan, serta harga yang kompetitif. Dengan keahlian dan pengalaman yang dimiliki, kami yakin dapat mewujudkan proyek impian Anda sesuai standar terbaik dengan harga yang terjangkau, sehingga seluruh klien merasa puas dengan hasil kerja kami.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section__content section__content--small">
  <div class="container">
    <div class="row__client row">
      <div class="client__item col">
        <img src="img/1.png" alt="">
      </div>
      <div class="client__item col">
        <img src="img/2.jpg" alt="">
      </div>
      <div class="client__item col">
        <img src="img/3.png" alt="">
      </div>
      <div class="client__item col">
        <img src="img/4.png" alt="">
      </div>
      <div class="client__item col">
        <img src="img/5.png" alt="">
      </div>
      <div class="client__item col">
        <img src="img/6.png" alt="">
      </div>
      <div class="client__item col">
        <img src="img/7.png" alt="">
      </div>
      <div class="client__item col">
        <img src="img/8.png" alt="">
      </div>
      <div class="client__item col">
        <img src="img/9.png" alt="">
      </div>
      <div class="client__item col">
        <img src="img/10.png" alt="">
      </div>
    </div>
  </div>
</section>